.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
}
.navItems > ul {
  display: flex;
  padding: 10px;
}
.navItems > ul > li {
  list-style: none;
  margin: 10px;
}
#body {
  padding: 10px;
}
.search {
  padding: 10px;
}
.restaurantContainer {
  display: flex;
  flex-wrap: wrap;
}
.resContainer {
  border: 1px solid #dfdfdf;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin: 15px;
}
.resName {
  margin-top: -15px;
}
.resCuisins {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width:190px;
  color: #887e7e;
  font-weight: 400;
}
.resFooter{
  display: flex;
  color:#696363;
  margin-top: -15px;
}
.resFooter > h4{
  margin-right: 11px;
  font-size: 14px;
}
.resCuisins{
  margin-top: -3px;
}
.resContainer:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resTime{
  right:0;
  position: relative;
}